<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-album-photo-heading" data-cy="AlbumPhotoCreateUpdateHeading" jhiTranslate="mobbApp.albumPhoto.home.createOrEditLabel">
        Create or edit a Album Photo
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mobbApp.albumPhoto.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
          <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nom')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mobbApp.albumPhoto.images" for="field_images">Images</label>
          <div>
            <img
              [src]="'data:' + editForm.get('imagesContentType')!.value + ';base64,' + editForm.get('images')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('images')!.value"
              alt="albumPhoto image"
            />
            <div *ngIf="editForm.get('images')!.value" class="form-text text-danger clearfix">
              <span class="pull-start">{{ editForm.get('imagesContentType')!.value }}, {{ byteSize(editForm.get('images')!.value) }}</span>
              <button
                type="button"
                (click)="clearInputImage('images', 'imagesContentType', 'file_images')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_images"
              data-cy="images"
              (change)="setFileData($event, 'images', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="images" id="field_images" data-cy="images" formControlName="images" />
          <input
            type="hidden"
            class="form-control"
            name="imagesContentType"
            id="field_imagesContentType"
            formControlName="imagesContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mobbApp.albumPhoto.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
